* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Gabarito', sans-serif;
}

.navbar {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0;
    position: sticky;
    background-color: white;
    z-index: 1;
    border-bottom: 1px solid grey;
}

.navbar__s1 {
    display: flex;
    gap: 10px;
    margin-left: 15%;
}

.navbar__s2 {
    display: flex;
    gap: 15px;
    margin-right: 10%;
}

.navbar__s3 {
    display: flex;
    gap: 15px;
    margin-right: 10%;
    align-items: center;
}

.navbar__s3 button {
    background-color: black;
    color: white;
    padding: 10px;
    border-radius: 20px;
    border: none;
    font-size: 15px;
    cursor: pointer;

}

.where {
    text-align: center;
    margin-top: 20px;
    font-size: 30px;
}

.categories {
    display: flex;
    justify-content: center;
    margin-top: 25px;
    gap: 20px;
}

.categories__item {
    align-items: center;
    font-size: 20px;
}

.categories__item:hover {
    text-decoration: underline;
    cursor: pointer;
}

.searchbar {
    display: flex;
    border: solid black 1px;
    border-radius: 30px;
    width: 50%;
    padding: 10px;
    gap: 10px;
    align-items: center;
    margin: 25px auto;
}

.searchbar input {
    background-color: transparent;
    width: 100%;
    border: none;
    font-size: 15px;
}

.searchbar input:focus {
    outline: none;
}

.searchbar button {
    background-color: rgb(12, 227, 12);
    color: black;
    border-radius: 35px;
    padding: 10px;
    border: none;
    font-size: 15px;
    cursor: pointer;

}

.explore {
    display: flex;
    border: solid black 1px;
    border-radius: 20px;
    width: 72%;
    margin: 25px auto;
    background-color: rgb(12, 227, 12);
}

.explore__img {
    padding: 10px;
}

.explore__img img {
    border-radius: 20px;
    padding: 10px;
}

.explore__content {
    font-size: 25px;
    padding: 15px;
    text-align: center;
    margin-top: 40px;
}

.explore__content p {
    font-size: 20px;
    margin-top: 30px;
    font-weight: 400;
}

.explore__content button {
    background-color: black;
    color: white;
    border-radius: 25px;
    padding: 15px;
    border: none;
    font-size: 15px;
    cursor: pointer;
    margin-top: 35px;
}

.recommeded {
    padding: 10px;
    border: solid black 1px;
    width: 72%;
    margin: 25px auto;
    border: none;
}

.recommeded p {
    margin-top: 20px;
    font-weight: normal;
}

.cards {
    display: flex;
    gap: 20px;
    margin-top: 20px;
    justify-content: center;
    border: solid black 1px;
    width: 67%;
    margin: 25px auto;
    border: none;
    cursor: pointer;
}

.cards img {
    border-radius: 20px;
}

.cards__text {
    position: absolute;
    top: 5px;
    color: white;
    font-size: 30px;
    padding: 5px;
    top: 200px;
}

.card {
    position: relative;
}

.chennai {
    border: solid black 1px;
    width: 72%;
    margin: 25px auto;
    border: none;
    padding: 10px;
}

.chennai p {
    margin-top: 20px;
    font-weight: normal;
}

.chennai__places {
    display: flex;
    justify-content: center;
    gap: 20px;
    border: solid black 1px;
    width: 72%;
    margin: 25px auto;
    border: none;
}

.imgplace img {
    border-radius: 20px;
    cursor: pointer;
}

.footer {
    border: solid black 1px;
    padding: 10px;
    background-color: rgb(236, 235, 235);
    width: 100%;
}

.footer__section {
    display: flex;
    justify-content: space-around;

}

.footer__s1 p {
    margin: 10px;
    cursor: pointer;

}

.footer__s2 p {
    margin: 10px;
    cursor: pointer;
}

.footer__s3 p {
    margin: 10px;
    cursor: pointer;
}

.footer__s4 p {
    margin: 10px;
    cursor: pointer;
}

.footer__s1 h4 {
    margin: 10px;
}

.footer__s2 h4 {
    margin: 10px;
}

.footer__s3 h4 {
    margin: 10px;
}

.footer__s4 h4 {
    margin: 10px;
}

.footer__s1 p:hover,
.footer__s2 p:hover,
.footer__s3 p:hover,
.footer__s4 p:hover {
    text-decoration: underline;
    outline: none;

}

.footer__rights {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.footer__rights p {
    font-size: 10px;
}

.footer__bottom {
    display: flex;
    justify-content: space-between;
}

.terms {
    display: flex;
    gap: 20px;
    margin: 10px;
}

.selection {
    display: flex;
    gap: 10px;
}

.list {
    border: solid green 3px;
    margin-right: 10px;

}

.list1 {
    border: solid green 3px;
}

@media screen and (max-width:800px) {
    body {
        font-size: 14px;
    }

}

@media screen and (max-width:600px) {
    .cards {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        /* 2 per row */
        gap: 15px;
        width: 90%;
        margin: 25px auto;
    }

    .card img {
        width: 100%;
    }

}

@media screen and (max-width:600px) {
    .chennai__places {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        /* 2 per row */
        gap: 15px;
        width: 90%;
        margin: 25px auto;
    }

    .chennai__places img {
        width: 100%;
    }

    .explore {
        flex-direction: column;
        width: 90%;
        text-align: center;
    }

    .explore__img img {
        width: 100%;
    }

    .explore__content {
        margin-top: 10px;
        font-size: 20px;
    }

    .explore__content p {
        font-size: 16px;
    }

}